div{
    font-size: 14px;
    display: block;
}
.resumeHead{
    color:black;
    font:  104px/104px Myriad Arabic !important;
    text-shadow: none;
    z-index: -1;    
    position: absolute;
}
.resumeP{
    position: static;
    padding-top: 4%;
    margin: 14% 0% 0% 8%;
}
