div{
    font-size: 14px;
    display: block;
}
p{
    position: absolute;
}
a{
    color: blue;
}
.contactHead{
    color:black;
    font:  104px/104px Myriad Arabic !important;
    text-shadow: none;
    z-index: -1;
    position: absolute;
}
form{
    position:relative;
    padding: 20% 0% 0% 8%;
    overflow: hidden;
    font:  4vw/5vw Myriad Arabic;
    
    
}
input{
    margin: 2% 0% 0% 0%;
    padding:15px 20px;
    color:black;
    border-radius: 15px;
    border: solid black 1px;
    display: block;
    height: 12px;
    font-size: 24px;
    width:62%;
    box-shadow: none;
}
.messageBox{
    height: 50px;
    padding-top:10px;
    
}
.submit{
    display: block;
    color:black;
    border: solid 1px black;
    border-radius: 15px;
    float: left;
    padding: 35px;
    font-size: 25px;
    margin-bottom: 2%;
}
