ul{
    list-style: none;
    float:right;
    background-color: black;
    
}
li{
    font-size: 50px;
    display: inline-block;
    color:white;
    padding: 10px 25px 10px 10px;
}
nav{
    background-color: black;
    font: Bold 40px/54px Myriad Arabic;
    
    width: 100%;
    height: auto;
    overflow: hidden;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color: red;
}
img{
    
}