footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font:  2.5em/3.375em Myriad Arabic; 
  
  
}

.icons{
    padding-left: 2%;
    float:none;
}
